.img-bg{
    background-image: url(/public/media/occhiali.jpg);
    background-size: cover;
}

/* h1{
    margin-top: 30px;
} */

.bordo{
    border: solid red 2px;
}

.card{
    min-width: 350px;
    min-height: 450px;
    margin-top: 50px;
}

.fotoProfilo{
    display: flex;
    justify-content: center;
}

.background-1{
    width: 600px;
    height: 500px;
}

.dimension{
    height: 40px ;
    width: 57px;
}