.img-bg{
    background-image: url(/public/media/occhiali.jpg);
    background-size: cover;
}

/* h1{
    margin-top: 30px;
} */

.bordo{
    border: solid red 2px;
}

.card{
    min-width: 250px;
    min-height: 350px;
    border: solid 2px grey;
    border-radius: 20px;
    margin-top: 20px;

}